*{padding: 0px; margin: 0;
  /* overflow: hidden;  */
  box-sizing: border-box;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin-top: 8vh;
  width: 90vw;
  height: 100vh;
  border: 1px solid green;
}
main > div:nth-child(1) {
  height: 45vh;
  /* border: 1px solid slateblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main > div:nth-child(1) >div {
  height: 14vh;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}
/* 상품목록 */
.container {
  display: flex;
  justify-content: space-between;
}
.container > div:nth-child(1) {
  width: 10vw;
  height: 14vh;
  display: flex;

  /* background-color:aquamarine; */
}
/* 체크박스 */

input[type="checkbox"] {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #eeeeee;
    background: #fbfbfb;
}

input[type="checkbox"]::before {
    position: absolute;
    line-height: 1;
}

input[type="checkbox"]:hover {
    border-color: gray;
}

input[type="checkbox"]:checked {
    background-color: #c4c4c4;
    color: white;
}

.container > div:nth-child(2) {
  width: 14vh;
  height: 14vh;
  background-color:#c4c4c4;
}
.container > div:nth-child(3) {
  width:50vw ;
  /* border: 1px solid black; */
  color: #c4c4c4;
}
/* 상품목록 끝 */

/* 중간 바 */
main > div:nth-child(2) {
  height: 5vh;
  margin-top: 2vh;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div:nth-child(2) > p {
  color: #c4c4c4;
  font-size: 1.2rem;
}
/* 중간 바 끝 */
main >div:nth-child(3) {
  margin-top: 5vh;
  height: 20vh;
  /* border: 1px solid red; */
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
main >div:nth-child(3) > div:nth-child(1) {
  height: 13vh;
  /* background-color: #c4c4c4; */
  color: #c4c4c4;
} 
main >div:nth-child(3) > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}
main >div:nth-child(3) > div:nth-child(2) > div{
  width: 20vw;
  height: 5vh;
  background-color: #c4c4c4;
}