
#root {
  width: 100vw;
  height: 155vh;
  display: flex;
  justify-content: center;
}

/* 여기서부터 수정하면서 만들기 */
main {
  width: 90vw;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
article {
  width: 90vw;
  height: 75vh;
  background-color:var(--color-3);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
article > ul {
  width: 15vh;
  height: 4vh;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5vh;
}
article > ul > li {
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  background-color:var(--color-4);
  overflow: hidden;
}

article > ul > li:hover{
  background-color:var(--color-5);
  transition: 0.5s;
  cursor:pointer;
}
article > div {
  width: 90vw;
  height: 7vh;
  background-color: var(--color-5);
}
section {
  width: 90vw;
  height: 75vh;
  /* border: 1px solid red; */
}
section > p {
  color: var(--color-2);
  overflow: hidden;
}
h1 {
    width: 90vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
h1::after {
    content: "";
    flex-grow: 1;
    /* margin: 0vw 3vw; */
    background-color:var(--color-2);
    height: 1px;
    margin-left: 3vw;
  }
  .grid {
    width: 90vw;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .grid > div {
    height: 20vh;
    background-color: var(--color-3);
  }