*{
  margin: 0; padding: 0; box-sizing: border-box;
}
#root{
  width: 100VW;
  display: flex;
  justify-content: center;
}
main{
  width: 100vw;
  // /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.line {
  width: 100vw;
  height: 3vh;
  position: relative;
  top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line::before {
  content: "";
  flex-grow: 1;
  /* margin: 0vw 3vw; */
  background-color: #c4c4c4;
  height: 1px;
}
.line::after {
  content: "";
  flex-grow: 1;
  /* margin: 0vw 3vw; */
  background-color: #c4c4c4;
  height: 1px;
}
.line > h1 {
  margin: 3vw;
  font-size: 1.5rem;
}

#mainBanner{
  height: 80vh;
  // background-color: gray;
  margin-top: 6vh;
  border: 1px solid red;
}
#mainBest{
  height: 90vh;
  border: 1px solid red;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &>div:nth-child(1){

  }
  &>.grid{
    margin-top: 5vh;
    width: 80vw;
    display: grid ;
    gap: 20px;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
      &>div{
        height: 30vh;
        background-color: gray;
      }
  }
  &>div:nth-child(3){
    width: 40vw;
    border: 1px solid red;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
  }
}
#mainForyou{
  height: 90vh;
  border: 1px solid red;
  margin-top: 7vh;
}
#mainMagazine{
  height: 90vh;
  border: 1px solid red;
  margin-top: 7vh;
}
#mainAd{
  height: 40vh;
  border: 1px solid red;
  margin-top: 7vh;
  margin-bottom: 8vh;
}